body {
    background-color: #f6f8fb;
}

.h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    top: 65px;
    left: 400px;
}


.staff {
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    margin: 30px;
    padding: 30px;
    
}

.WorkSphere {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    margin: 30px;
    padding: 30px;
}

.both {
    display: flex;
    justify-content: space-around;
}

.border {
    background-image: linear-gradient(to right,rgb(255, 249, 249), rgb(255, 240, 240));
    padding: 2px 10px;
    height: 200px;
    width: 320px;
    border-radius: 20px;
    position: relative;
    box-shadow: 0px 0px  5px hsl(0, 100%, 50%);
    top: 80px;
}

.border:hover {
    background-image: linear-gradient(to right, rgb(254, 230, 230),rgb(255, 249, 249));
    padding: 3px 1px; 
   

}

.btn {
    position: absolute;
    top: 20px;
    right: 15px;

    border-radius: 10px;
    border: none;
}
.btn-1:hover,
.btn:hover {
    background-color: #85c1f6;  
    transition: 0.6s ease-in;
}


.roles {
    padding: 0 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn-1 {
    background-color: #0BD931;
    width: 130px;
    height: 40px;
    border-radius: 50px;
    color: white;
    border: none;
    cursor: pointer;
}
#btn-div {
    display: flex;
    justify-content: center;
}


#selections {
    width: 200px;
    height: 30px;
    position: relative;
    top: 15px;
    border-radius: 50px; 
    border: solid 1px #2B9CFF;
}
#selections:hover {
    background-color: #eef5fb;
    border: solid 1px #0d4b7a;
    padding: 3px 5px; 
    transition: 1s;
}

#user {
    background-color: #f6ecf3;
    width: 220px;
    border-radius: 10px;
    border: solid 1px;
    position: relative;
}

#name {
    padding: 0 50px;
}
#spec {
    padding: 0 50px;
    position: relative;
    bottom: 10px;
}

#btn-user {
    position: absolute;
    top: 25px;
    right: 15px;
    height: 50px;
    background-color: #EF4444;
}


#bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(15, 15, 15, 0.5);
    display: none;
    z-index: 5;
}

#add-modal {
    position: fixed;
    top: 200px;
    transform: translate(0%);
    background: #e0dada;
    padding: 20px;
    border-radius: 15px;
    width: 500px;
    z-index: 10;
    display: none ;
    box-shadow: 0 0 10px #EF4444;
}

#add-modal input,
#add-modal select {
    width: 100%;
    border-radius: 8px;
    border: solid 1px #2B9CFF;
    padding: 7px;
    margin: 10px 2px;
}

#buttons {
    display: flex;
    justify-content: space-between;
    top: 20px;
}

#add-worker {
    background-color: #2B9CFF;
    color: white;
    border-radius: 10px;
    padding: 10px 15px;
}

#cancel {
    background-color: #EF4444;
    color: white;
    border-radius: 10px;
    padding: 10px 15px;
}

.worker-card {

    background-color: #a9d5fc;
    border: solid 1px #2B9CFF;
    border-radius: 10px;
    padding: 10px;
    position: relative;
}

.remove {
   position: absolute;
   top: 40%;
   right: 0;
   margin:  0 10px;
   padding: 5px 10PX;
   background: #f8eaea;
}

.remove:hover {
    background-color: #de2f22;  
    transition: 1s;
}

.formal {
    position: fixed;
    top: 200px;
    transform: translate(0%);
    background: #f8eaea;
    padding: 20px;
    border-radius: 15px;
    width: 500px;
    z-index: 10;
    display: none ;
    box-shadow: 0 0 10px #EF4444;
}

.assigned-employee {
    background-color: #fff4f2;
    border-radius: 15px;
    margin: 5px 0;
    padding: 5px 10px;
    border-radius: 8px;
    align-items: center;
    font-size: 14px;
}

.assigned-employee button {
    background-color: #EF4444;
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    padding: 2px 6px;
}

.para {
    color: gray;
    opacity: 40%;
}

.popUp {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #85c1f6;
   
}

.popup {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 100px;
}

.popup-btn {
    margin: 10px 0;
    padding: 10px;
    background-color: #0BD931;
    border-radius: 5px;
    cursor: pointer;
}
#employeepick{
    display: none;
    position: fixed;
    top: 200px;
    transform: translate(0%);
    background: #f8eaea;
    padding: 20px;
    border-radius: 15px;
    width: 500px;
    z-index: 10;
    display: none ;
    box-shadow: 0 0 10px #EF4444;
}

img{
    height: 50px;
    width: 50px;
}