body {
    background-color: #EAFBF9;
}

.h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    top: 65px;
    left: 400px;
}
h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h4 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
}

h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.staff {
    background-color: white;
    border-radius: 20px;
    margin: 30px;
    padding: 30px;
    width: 200px;
}

.WorkSphere {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    background-color: white;
    border-radius: 20px;
    margin: 30px;
    padding: 30px;
    height: auto;
}

.both {
    display: flex;
    justify-content: space-around;
}

.border {
    background-color: #f6ecf3;
    padding: 2px 10px;
    height: 200px;
    width: 320px;
    border-radius: 20px;
    position: relative;
    box-shadow: 0px 0px  5px #09283F;
    top: 80px;
}
.border:hover {
    background-color: #f4dced;  
    padding: 3px 1px; 
   

}

.btn {
    position: absolute;
    top: 20px;
    right: 15px;
    background-color: #0d4b7a;
    border-radius: 10px;
    height: 45px;
    width: -20px;
}

.btn:hover {
    background-color: #a6cce9;  
    transition: 1s;
}

.para {
    position: relative;
    display: flex;
    justify-content: center;
    top: 20%;
    color: gray;
    opacity: 40%;
}

.roles {
    padding: 0 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn-1 {
    background-color: #2B9CFF;
    width: 130px;
    height: 40px;
    border-radius: 15px;
    font-weight: 600;
}
#btn-div {
    display: flex;
    justify-content: center;
}

#search-bar {
    width: 200px;
    height: 30px;
    padding: 10px;
    margin: 20px 0;
    border: solid 1px #2B9CFF;
    border-radius: 50px;
}
#search-bar:hover {
    background-color: #eef5fb;
    border: solid 1px #0d4b7a;
    padding: 5px 20px; 
    transition: 1s;
}

#filter {
    display: flex;
    gap: 10px;
}

#selections {
    width: 200px;
    height: 30px;
    position: relative;
    top: 15px;
    border-radius: 50px; 
    border: solid 1px #2B9CFF;
}
#selections:hover {
    background-color: #eef5fb;
    border: solid 1px #0d4b7a;
    padding: 3px 5px; 
    transition: 1s;
}

#user {
    background-color: #f6ecf3;
    width: 220px;
    border-radius: 10px;
    border: solid 1px;
    position: relative;
}

#name {
    padding: 0 50px;
}
#spec {
    padding: 0 50px;
    position: relative;
    bottom: 10px;
}

#btn-user {
    position: absolute;
    top: 25px;
    right: 15px;
    height: 50px;
    background-color: #EF4444;
}

input{
    display: flex;
    margin: 10px;
    width: 300px;
    border: none;
    background-color: rgb(255, 255, 255);
    height: 30px;
    border-radius: 30px;
    padding-left: 10px;
}

select{
    display: flex;
    margin: 10px;
    width: 300px;
    border: none;
    background-color: rgb(255, 255, 255);
    height: 30px;
    border-radius: 30px;
    padding-left: 10px;
}
.input {
    display: nonejs;
}
